@import "tailwindcss";

:root {
  --background: #f9f7f3;
  --foreground: #2b2b2b;

  --primary: #7a4a2e;
  --secondary: #2f6b4f;
  --accent: #d6a756;

  --card: #ffffff;
  --border: #e5e7eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f1f1f1;

    --primary: #7a4a2e;
    --secondary: #4fa37c;
    --accent: #e6c37a;

    --card: #1c1c1c;
    --border: #2e2e2e;
  }
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --color-card: var(--card);
  --color-border: var(--border);

  --font-heading: "Kalnia", serif;
  --font-body: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
